



@use 'mixin' as *;



#boton-comprar{
    @include estilo-boton(#c06c84, 1rem, black);
    display: inline-block;}
    


#boton-comprar:hover {

    transform: scale(1.2);
background-color: #6c5b7b;}

#boton-comprar:active {
    transform: scale(2);
    background-color: #355c7d ;
}
    
#boton-agregar{
        @include estilo-boton(#6c5b7b, 1rem,black);
        display: inline-block}

#boton-agregar:hover {
            transform: scale(1.2); 
            background-color: #6c5b7b;
        
        
#boton-agregar:active {
            transform: scale(2);
            background-color: #c06c84;
        }}
        



        //boton formulario//
.btn-primary{
    @include estilo-boton(#355c7d, 2rem, white);
}
        
    
    
    