//PRODUCTOS DE INICIO//

.productos1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align:center ;
    background-color: black;
}

.card{
    background-color:#6c5b7b;
}
.productos1 img {
    width: 0 50%;
    height: 45vh; 
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px #e064ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
    animation: luces 2s infinite alternate;
    overflow: hidden;
    box-sizing: border-box;
}


@keyframes luces {
    0% {
        box-shadow: 0 0 15px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff7aff;
    }
    50% {
        box-shadow: 0 0 15px #00ffff, 0 0 25px #ff00ff, 0 0 35px #00ffff;
    }
    100% {
        box-shadow: 0 0 50px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
    }
}

@media (max-width: 768px) {
    .productos1 {
        grid-template-columns: repeat(1, 1fr); 
    }
}


.card-body h3 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: fantasy !important;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.979);
}

.card-body p {
    font-size: larger;
    font-family: cursive;
}







.producto-galeria{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    background-color: #966d5f rgba(150, 109, 95, 0.3);
    padding: 20px;}




 //PRODUCTOS DE DESAYUNO//
.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    background: linear-gradient(to right, #F67280, #355C7D)
}


.card-producto{
    display: flex;



img{
    border: 5px solid white;
    width: 50%;
    height:55vh;
    object-fit: cover;
    opacity: 1;
    transform: translateY(10px);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}
    
.card-producto img.mostrar {
    opacity: 1;
    transform: translateY(0);
}
}



    
.card-body{
h3{
        font-family: "Lilita One", sans-serif;
        font-size: 2.5rem;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;

    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.8rem;
        text-align: center;
        font-style: oblique;
        font-weight: bold;
    }
}


    
 //BOX PARA REGALAR//
.productos2{

    background: radial-gradient(circle,  #6c5b7b,#f67280);

}

.card-group2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.carta {
display:grid;
grid-template-columns: 1fr 1fr;

    gap: 10px;
    padding: 20px;
    width: 100%;
    height:55vh;
    box-sizing: border-box;
    text-align:center ;
box-shadow: 0px 0px 40px #d198ce;
transition: box-shadow 0.3s ease-in-out;


}


img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.carta img:hover {
    transform: scale(1.05);
}

    @media (max-width: 500px) {
        .img{
            width: 100%;
            max-height: 200px;
        }
    
    .card-group2 {
        grid-template-columns: 1fr; 
    }

    .carta {
        grid-template-columns: 1fr; 
        height: auto; 
    }}



h3{
    text-align: center;
    text-shadow: 50px 50px 50px  #ff008c;
    font-family: cursive;
    font-size: 3rem;
    text-shadow: 2px 2px 5px white;
    color: rgb(0, 0, 0);
}

.carta body{
padding: 0px;
gap:10px;
max-width: 20vh;

}

p{
    text-align: center;
    font-size: 1rem;
    color:whitesmoke
}








                    //frapuccinos//
                
                    .productos4 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;
                    padding: 20px;
                    background: radial-gradient(circle,  #6c5b7b,#355c7d,);
                
                    display: flex;
                

        h3{
                    font-family: fantasy;
                    color: black;
                    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.979);
                    font-style: italic;
                    font-size: 3rem;
                }
            
                .card {
                    position: relative;
                    width: 18rem;
                    overflow: hidden;
                    border-radius: 15px;
                    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    border: 4px solid plum;
                    animation: borderAnimation 3s infinite linear;
                }
                
                .card:hover {
                    transform: scale(1.05);
                    box-shadow: 10px 10px 20px rgba(255, 0, 221, 0.8);
                }
                
            
                
                .card img {
                    border-radius: 15px 15px 0 0;
                    transition: transform 0.3s ease-in-out;
                    width: 100%;
                    height: 40vh;
                }
                
                .card:hover img {
                    transform: scale(1.1);
                    color: #ff008c;
                }

/* Estilo del botón */
.btn-primary {
    background-color: #e791c6;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #ff01f2;
}


@keyframes fadeIn {
    from { opacity: 1; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.card {
    animation: fadeIn 0.8s ease-in-out;
}}

        

