
@use '_main';



*{
    margin:0;
    padding:0;
}



    .body{

    flex-direction: column;
    min-height: 100vh;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    }

    
.main{
display: grid;
grid-template-columns: 1fr, 1fr, 1fr;
}




  //GRID//

.main{
    display: grid;
    grid-template-columns: 10% 1fr ;}
    

.menu{
        grid-column: 1/2;
    }


.contenido{
    grid-column: 2/3;
    width: 100%;


}

.titulo{
    display: grid;
    grid-area: 2/3;
}

//MEDIA QUERiES//

@media (max-widht:500px){
.menu{
        width:200px}
    
.menu a{
        font-size: 10px;
        padding: 8px;
    }

    
    }
    
    @media (max-width: 500px) {
        .card-body h3 {
            font-size: 1.2rem;
        }
        .card-body p {
            font-size: 1rem;
        }
    }
        


